<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/home">{{ 'welcome' | translate }}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" type="button" ng-click="logOut() ">{{ 'logOut' | translate }}</a></li>
            <li><a href="#!/cpass">{{ 'changePassword' | translate }}</a></li>
        </ul>
    </div>
</nav>

<div>

    <div class="container">

        <button type="button" class="btn btn-primary" ng-click="showUserBooks()">{{ 'checkYourBooks' | translate }}
        </button>

        <table class="table">
            <tr>
                <th>{{ 'title' | translate }}</th>
                <th>{{ 'author' | translate }}</th>
            </tr>
            <tr class="info" ng-repeat="x in myData">
                <td>{{ x.title }}</td>
                <td>{{ x.author }}</td>
            </tr>
        </table>
        <div ng-show=userMessages>
            <p><b>{{noBooksMessage}}</b></p>
        </div>
        <br>
        <br>
    </div>

    <form name="myForm" novalidate>
        <h4> {{ 'addBook' | translate }}</h4>
        <input type="text" placeholder="{{ 'enterTitle' | translate }}" ng-model="title" name="title"><br>

        <input type="text" placeholder="{{ 'enterAuthor' | translate }}" ng-model="author" name="author"><br>

        <div flow-init flow-transfers>
            <label class="btn btn-default btn-file">
                Choose Image <input type="file" style="display: none;" flow-btn>
            </label>

            <!-- transfers has all informations about the image  -->
            <LABEL>{{transfers[0].name}} </LABEL>
            <br>
            <button type="button" class="btn btn-primary" ng-disabled="!myForm.title.$dirty && !myForm.author.$dirty"
                    ng-click="addBook(); $flow.resume()">{{ 'addBook' | translate }}
            </button>

        </div>


        <p>{{addedMessage}}</p>
    </form>

    <form name="delForm" novalidate>
        <h4> {{ 'deleteBook' | translate }}</h4>
        <input type="text" placeholder="{{ 'enterTitle' | translate }}" ng-model="dTitle" name="dTitle"><br>

        <button type="button" class="btn btn-primary" ng-disabled="myForm.dTitle.$dirty" ng-click="deleteBook()">{{
            'deleteBook' | translate }}
        </button>
        <p>{{deletedMessage}}</p>
    </form>
</div>

<script>$(document).on('change', ':file', function () {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});
</script>