<div class="container centerForm" style="width: 20%" ng-controller="loginCtrl">
    <form class="w-50" name="loginForm"  novalidate>
        <h3>Sign In</h3>
        <div class="input-group">

            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" name="username" ng-model="username" placeholder="username" required>
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" name="password" ng-model="password" ng-minlength="8"
                   placeholder="password" required>
        </div>

        <br><br>


        <button type="button" class="btn btn-danger" ng-click="back()">Cancel</button>
        <button class="btn btn-success" ng-click="login()"> Sign In</button>

    </form>


    <p>{{message}}</p>

    <p>{{checkResults}}</p>


</div>


