<div class="container centerForm" style="width: 20%">
    <form class="w-50" name="loginForm"  novalidate>
        <h3>{{ 'signIn' | translate }}</h3>
        <div class="input-group">

            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" name="username" ng-model="username" placeholder="{{ 'plEnterUsernameSignInForm' | translate }}" required>
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" name="password" ng-model="password" ng-minlength="8"
                   placeholder="{{ 'plEnterPasswordSignInForm' | translate }}" required>
        </div>

        <br><br>


        <button type="button" class="btn btn-danger" ng-click="back()">{{ 'btnCancel' | translate }}</button>
        <button class="btn btn-success" ng-click="login()"> {{ 'signIn' | translate }}</button>

    </form>


    <p>{{message}}</p>

    <p>{{checkResults}}</p>


</div>


