<div class="container">
    <h3 style="text-align: center"><b><ins>{{ 'updateTranslations' | translate }}</ins></b></h3>
    <button ng-click="initTable()" class="btn btn-primary">{{ 'showList' | translate }} </button>
    <div class="table-responsive">
        <table ng-table ="keyTable" class="table table-striped" >
            <tr ng-repeat="key in keys" class="active">

                <td data-title="'keyName' | translate" align="center" class="col-md-2">{{key.name}}</td>

                <td  data-title="'english' | translate" align="center" class="col-md-2" >
                    <input style="background:#F2F2F2" type="text" ng-value="key.translations.en" ng-model="key.translations.en"></td>

                <td data-title="'greek' | translate" align="center" class="col-md-2"  >
                    <input style="background:#F2F2F2" type="text" ng-value="key.translations.gr" ng-model="key.translations.gr"></td>

                <td data-title="'update' | translate" align="center" class="col-md-1" ><span>
                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0" ng-click="updateTranslation($index)">{{ 'update' | translate }}</button></span></td>

            </tr>
        </table>
    </div>

</div>




