<div class="navbar">
    <a href="#!/login">{{ 'login' | translate }}</a>
    <a href="#!/register">{{ 'register' | translate }}</a>
    <a href="#!/translations">{{ 'translations' | translate }}</a>
    <div class="dropdown">
        <button class="dropbtn">{{ 'selectLanguage' | translate }}
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a type="button" ng-click="changeLanguage('en')"> English</a>
            <a type="button" ng-click="changeLanguage('gr')"> Greek </a>

        </div>
    </div>
</div>






